<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
</head>
<body style="margin: 100px;">
    <h1>Edit Student</h1>
    <form th:action="@{/edit-student(id=${student.id})}" method="post" enctype="multipart/form-data" th:object="${studentDTO}" novalidate>
        
        <label for="name">Name:</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Enter your name" required><br>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        
        <label for="age">Age:</label>
        <input type="number" th:field="*{age}" id="age" placeholder="Enter your age" required><br>
            <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
        
        <label for="email">Email:</label>
        <input type="email" th:field="*{email}" id="email" placeholder="Enter your Email" required><br>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        
        <label for="password">Password:</label>
        <input type="password" th:field="*{password}" id="password" placeholder="Enter your Password" required><br>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        
        <label for="image">Image</label>
        <img alt="image" width="100px" height="100px" th:src ="@{'images/'+${student.imagePath}}">
        <input type="file" id="image" th:field="*{image}"><br>
        <p th:if="${#fields.hasErrors('image')}"th:errors="*{image}"><br></p>
        
        <!-- resume -->
		<label for="resume">Resume:</label>
        <a th:href="@{'resume/'+${student.resumePath}}" target="_blank">View Resume</a>
        <p th:text="${student.resumePath}"></p>
        <input type="file" th:field="*{resume}" id="resume"><br>
        <p th:if="${#fields.hasErrors('resume')}" th:text="${#fields.errors('resume')}"></p>
        
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
